<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>California Love</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A Propos</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="card bg-dark text-white">
    <img src="https://coverfiles.alphacoders.com/560/56021.jpg" class="card-img" alt="..." />

  </div>


  <div class="container-fluid">
    <div class="col row">
      <div class="col-6">
        <br><br>
        <h1>
          <center>Information California</center>
        </h1>
        <br><br>
        <p class="lead"><b>Contexte : </b>Dans le cadre de la formation développeur IA dispensé par Simplon, nous
          devions étudier des
          modèles de régression machine learning afin de déterminer les prix des biens immobilier en Californie.
        <p>
      </div>
      <div class="col-6">
        <br><br>
        <h1>
          <center>Features</center>
        </h1>
        <br><br>
        <ul>
          <li class="lead"><b>MedInc : </b>median income in block</li>
          <li class="lead"><b>HouseAge : </b>median house age in block</li>
          <li class="lead"><b>AveRooms : </b>average number of rooms</li>
          <li class="lead"><b>AveBedrms : </b>average number of bedrooms</li>
          <li class="lead"><b>Population : </b>block population</li>
          <li class="lead"><b>AveOccup : </b>average house occupancy</li>
          <li class="lead"><b>Latitude : </b>house block latitude</li>
          <li class="lead"><b>Longitude : </b>house block longitude</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <div class="row">

      <div class="col-4 card text-white bg-primary">
        <div class="card-header">
          <br>
          <h1>
            <center>Simulation</center>
          </h1>

        </div>

        <div class="card-body">
          <form action="{{ url_for('predict')}}" method="POST" role="form">
            <input type="number" class="form-control" step="0.01" name="MedInc" placeholder="MedInc"
              required="required" /><br>
            <input type="number" class="form-control" step="1.00" name="HouseAge" placeholder="HouseAge"
              required="required" /><br>
            <input type="number" class="form-control" step="0.01" name="AveRooms" placeholder="AveRooms"
              required="required" /><br>
            <input type="number" class="form-control" step="0.01" name="AveBedrms" placeholder="AveBedrms"
              required="required" /><br>
            <input type="number" class="form-control" step="1.00" name="Population" placeholder="Population"
              required="required" /><br>
            <input type="number" class="form-control" step="0.01" name="AveOccup" placeholder="AveOccup"
              required="required" /><br>
            <input type="number" class="form-control" step="0.01" name="Latitude" placeholder="Latitude"
              required="required" /><br>
            <input type="number" class="form-control" step="0.01" name="Longitude" placeholder="Longitude"
              required="required" /><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
          </form>
        </div>
      </div>
      <div class="col-8">
        <div class="card text-white bg-primary col-12">
          <div class="card-header">
            <br>
            <h1>
              <center>Valeurs Saisies</center>
            </h1>
          </div>
          <div class="card-body">
            <p class="card-text taille_police lead">
              <b>{{ saisie_text }}</b>
            </p>
          </div>
          <br>
        </div>
        <br>
        <div class="card text-white bg-secondary col-12">
          <div class="card-header">
            <br>
            <h1>
              <center>Résultat de la simulation</center>
            </h1>
          </div>

          <div class="card-body">
            <p class="card-text taille_police lead">
              <b>{{ prediction_text }}</b>
            </p>
          </div>
          <br>
        </div>
        <br>
      </div>






    </div>
  </div>
  <hr>















  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
</body>

</html>